<%= form_for Job.new, url: jobs_path, method: :POST do |form| %>

    <div class="text-field form-group col-md-6">
        <%= form.text_field :name, placeholder: 'Name', class:"form-control"%>
    </div>
    
    <div class="text-field form-group col-md-6">
        <%= form.text_field :category, placeholder: 'Category', class:"form-control"%>
    </div>
    
    <div class="text-field form-group col-md-6">
        <%= form.date_field :start_date, placeholder: 'Start Date', class:"form-control"%>
    </div>
    
    <div class="text-field form-group col-md-6">
        <%= form.date_field :end_date, placeholder: 'End Date', class:"form-control"%>
    </div>
    
    <div class="text-field form-group col-md-6">
        <%= form.text_field :description, placeholder: 'Description', class:"form-control"%>
    </div>
    
    <div class="text-field form-group col-md-6">
        <%= form.number_field :price, placeholder: 'Price', class:"form-control"%>
    </div>
    
    <div class="text-field form-group col-md-6">
        <%= form.text_field :address, placeholder: 'Address', class:"form-control"%>
    </div>
    
    <div class="text-field form-group col-md-6">
        <%= form.text_field :state, placeholder: 'State', class:"form-control"%>
    </div>
    
    <div class="text-field form-group col-md-6">
        <%= form.text_field :city, placeholder: 'City', class:"form-control"%>
    </div>
    
    <div class="text-field form-group col-md-6">
        <%= form.text_field :postcode, placeholder: 'Postcode', class:"form-control"%>
    </div>
    
    <div class="form-group">
      <%= form.submit "Post a job", class: "text-field btn-submit form-control" %>
    </div>
    
   <% end %>