<%= form_for Job.new, url: jobs_path do |form| %>

   <!--  <div class="text-field form-group">
        <%# form.hidden_field :name, placeholder: 'Name', class:"form-control"%>
    </div> -->

    <%= form.hidden_field :name, value: current_user.first_name%>
    
    <% category = ["Cleaning Service", "Catering Service", "Mobile and Laptop Repair", "Home Maintenance", "Movers", "Plumbing Service"] %>
    <div class="serviceCoveredSection row">
      <div><%= image_tag("catering.jpg", class:"servicesimage")%><h4 class="text-center">Catering</h4><h4 class="text-center">RM100 per service</h4></div>
      <div><%= image_tag("cleaningservice.jpg", class:"servicesimage")%><h4 class="text-center">Cleaning</h4><h4 class="text-center">RM80 per service</h4></div>
      <div><%= image_tag("mover.jpg", class:"servicesimage")%><h4 class="text-center">Mover</h4><h4 class="text-center">RM70 per service</h4></div>
      <div><%= image_tag("plumbing.png", class:"servicesimage")%><h4 class="text-center">Plumbing</h4><h4 class="text-center">RM60 per service</h4></div>
      <div><%= image_tag("gadgetservice", class:"servicesimage")%><h4 class="text-center">Gadget Repair</h4><h4 class="text-center">RM150 per service</h4></div>
    </div>
  
    <!-- <div class="text-field form-group">
        <%# form.select :category, options_for_select(category), class: "form-control col-md-6 form-text" %>
    </div>
    <div class="text-field form-group">
       <h5> RM<%# form.text_field :price, placeholder: "Price", class: "form-text", readonly: true %></h4>
    </div> -->
    <br>
<div class="details-container row">
  <div class="details-item col-md-7", style="padding-left: 45px;">  
    <div class="text-field form-group">
        <%= form.text_field :address, placeholder: 'Address', class: "form-control"%>
    </div>
    <div class="row">
        <div class="select-field form-group col-md-5" style="padding-left: 0px;">
            <% states = [] %>
            <% CS.states(:my).each do |x, y| states << y.to_s end %>
            <%= form.select :state, options_for_select(states, "Johor"), class: "form-control"%>
        </div>
        
        <div class="select-field form-group col-md-5", id="show-city-job", style="display: none">
            <% city = [] %>
            <%= form.select :city, options_for_select(city) , class: "form-control"%>
        </div>
    </div>    

    <div class="text-field form-group">
        <%= form.text_field :postcode, placeholder: 'Postcode', class: "form-control"%>
    </div>

    <div class="text-field form-group">
        <%= form.text_area :description, :rows => 8, style: 'width:100%;', placeholder: 'Description', class: "form-control"%>
    </div>

    <div class="form-group">
      <%= form.submit "Book", class: "btn-apply" %>
    </div>
  </div>

  <div class="details-item col-md-3", style="padding-left: 35px;">
    <div class="text-field form-group">
        <%= form.date_field :start_date, placeholder: 'Start Date', class: "form-control"%>
    </div>
    
    <div class="text-field form-group">
        <%= form.time_field :start_time, placeholder: 'Start Time', class: "form-control"%>
    </div>
  </div>
    
</div>
    
   <% end %>