<%= render partial: "/layouts/navbar" %>

<div class="row showalljobrowcontainer">
<div class='container' id="homepagecontainer">
  <h1 id="latestshowalljobheader">AVAILABLE JOB</h1>
  <br>
  <% @job.each do |t| %>
      <%= link_to job_path(t.id) do %>
      <div class="thumbnail jobstyle showalljobthumbnail">
        <div class="thumbnailhoverclass">
          <% if t.category == "Cleaning" %>
            <%= image_tag("cleaningservice.jpg", class:"thumnail-image")%>
          <% elsif t.category == "Catering" %>
            <%= image_tag("catering.jpg", class:"thumnail-image")%>
          <% elsif t.category == "Mover" %>
            <%= image_tag("mover.jpg", class:"thumnail-image")%>
          <% elsif t.category == "Plumbing" %>
            <%= image_tag("plumbing.png", class:"thumnail-image")%>
          <% elsif t.category == "Gadget Repair" %>
            <%= image_tag("gadgetservice.jpg", class:"thumnail-image")%>
          <% end %>
        <div class="overlay">
          <div class="overlaytext"><%= t.category %></div>
        </div>
        </div>
        <h3 id="jobthumbnailName"><%= t.name %></h3>
        <div class="caption">
          <div class="captionPriceCategory">
            <h5 id="jobthumbnailPrice">RM <%= t.price %></h5>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <div id='paginate'>
    <div class='container paginatecontainer' id="showalljobpaginatecontainer">
      <%= paginate @job,outer_window: 3%>  
    </div>
  </div>
</div>

<div class="joinusbutton postajobbutton">
  <% if signed_in? %>
    <div>
        <%= link_to "POST A JOB", "/jobs/new",method: :get, class:"postajobbuttonstyle" %>
    </div>
  <% end %>
</div>
</div>

<%= render partial: "/layouts/footer" %>

