<%= render partial: "/layouts/navbar" %>

<div class="row showalljobrowcontainer">
<div class='container' id="homepagecontainer">
  <h1 id="latestshowalljobheader">AVAILABLE JOB</h1>
  <br>
  <% @job.each do |t| %>
      <%= link_to job_path(t.id) do %>
      <div class="thumbnail jobstyle showalljobthumbnail">
        <div class="thumbnailhoverclass">

        <!-- condition starts here -->
        <% case @job.status %>
          <% when "Cleaning" %>
            <% showPic = "cleaningservice.jpg"  %>
          <% when "Catering" %>
            <% showPic = "catering.jpg"  %>
          <% when "Mover" %>
            <% showPic = "mover.jpg" %>
          <% when "Plumbing" %>
            <% showPic = "plumbing.png" %>
          <% when "Gadge Repair" %>
            <% showPic = "gadgetservice.jpg" %>
        <% end %>        

        <!-- condition ends here -->

          <%= image_tag(showPic, class:"thumnail-image")%>
        <div class="overlay">
          <div class="overlaytext"><%= t.category %></div>
        </div>
        </div>
        <h3 id="jobthumbnailName"><%= t.name %></h3>
        <div class="caption">
          <div class="captionPriceCategory">
            <h5 id="jobthumbnailPrice">RM <%= t.price %></h5>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <div id='paginate'>
    <div class='container paginatecontainer' id="showalljobpaginatecontainer">
      <%= paginate @job,outer_window: 3%>  
    </div>
  </div>
</div>

<div class="joinusbutton postajobbutton">
  <% if signed_in? %>
    <div>
        <%= link_to "POST A JOB", "/jobs/new",method: :get, class:"postajobbuttonstyle" %>
    </div>
  <% end %>
</div>
</div>

<%= render partial: "/layouts/footer" %>

