<%= render partial: "/layouts/navbar" %>

<div class='container' id="homepagecontainer">
  <h1 id="latestjobheader">AVAILABLE JOB</h1>
  <br>
  <% @job.each do |t| %>
    <%= link_to job_path(t.id) do %>
    <div class="thumbnail jobstyle">
      <%= image_tag("cooking.jpg", class:"thumnail-image")%>
      <div class="caption">
        <h3><%= t.name %></h3>
        <h5><%= t.category %></h5>
        <h5>RM <%= t.price %></h5>
      </div>
    </div>
    <% end %>
  <% end %>
  <div id='paginate'>
    <div class='container'><%= paginate @job ,outer_window: 3%></div>
  </div>
</div>

<div class="joinusbutton">
  <% if signed_in? %>
    <%= button_to "POST A JOB", "/", class:"joinusbuttonstyle" %>
  <% end %>
  <% if affiliate_signed_in? %>
    <%= button_to "ACCEPT A JOB", "/", class:"joinusbuttonstyle" %>
  <% end %>
</div>

<%= render partial: "/layouts/footer" %>
