<%= render partial: "/layouts/navbar" %>

	<div class="row">
		<div class="col-md-6">
			<div class="userinfosection">
				<div><%= image_tag("userprofile.jpg",class:"userprofilepicture")%></div>
				<div class="userprofileinfopart">
					<h1><%= current_user.first_name.upcase %> <%= current_user.last_name.upcase %></h1>
					<h6>I am a passionate 26 years old male who are keen to contribute back to society.</h6>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="usercontactsection">
				<h4 class="usercontactsectionemail"><%= image_tag("002-email.png")%><%= current_user.email %></h4>
				<h4><%= image_tag("001-home.png") %><%= current_user.address %>, <%= current_user.postcode %>, <%= current_user.city %>, <%= current_user.state %>.</h4>
				<ul class="usercontactsectionul">
					<% @numberofjob = @job.where(user_id: current_user.id) %>
					<li><%= @numberofjob.count  %></br>Total Posted Job</li>
				</ul>
			</div>
		</div>
	</div>

	<div>
		<h3 class="showpage-title">Requested Job</h3>
		<% @requested = @job.where.not(status: "completed") %>
		<% @requested.each do |t| %>
		  
		  <div class="thumbnail jobstyle">
		    <%= image_tag("cooking.jpg", class:"thumnail-image")%>
		    <div class="caption">
		      <h5>Booking Number <%= link_to "272#{t.id}", job_path(t.id) %></h5>	
		      <h5><%= t.start_date.strftime("%d %b %Y") %>, <%= t.start_time.strftime("%l.%M %P") %></h5>
		      <h5><%= t.category %></h5>
		      <h5>RM <%= t.price %></h5>
		      <% if t.status == 0 %>
		      	<h5><%= t.status %></h5>
		      	<%= button_to "Edit", "#" %>
		      <% elsif t.status == 1 %>
		      	<h5><%= t.status %> by <%= link_to "#{t.affiliate.first_name}", affiliate_path(t.affiliate_id) %></h5>
		      <% end %>		
		    </div>
		  </div>
		<% end %>
	</div>
	<div>
		<h3 class="showpage-title">Completed Job</h3>
		<% @requested = @job.where(status: "completed")  %>
		<% @requested.each do |t| %>
		  
		  <div class="thumbnail jobstyle">
		    <%= image_tag("cooking.jpg", class:"thumnail-image")%>
		    <div class="caption">
		      <h5><%= t.start_date.strftime("%d %b %Y") %>, <%= t.start_time.strftime("%l.%M %P") %></h5>
		      <h5><%= t.category %></h5>

		      <h5>RM <%= t.price %></h5>
		      <%= button_to "Review", "#" %>
		      <h5><a href="#">Click here for receipt</a></h5>
		    </div>
		  </div>
		
		<% end %>
	</div>

<%= render partial: "/layouts/footer" %>