<%= render partial: "/layouts/navbar" %>

<div class="container">
	<div class="row">
		<div class="col-md-4">
			<div><%= image_tag("userprofile.jpg",class:"thumbnail")%></div>
		</div>
		<div class="col-md-8">
			<div class="thumnail">
			
				<h1 class="showpage-name"><%= current_user.first_name %> <%= current_user.last_name %></h1>
				<h4><%= current_user.email %></h4>
				<h4><%= current_user.address %>, <%= current_user.postcode %>, <%= current_user.city %>, <%= current_user.state %>.</h4>
				<h2>About Me!</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>	
		</div>
	</div>
	<div>
		<h3 class="showpage-title">Requested Job</h3>
		<% @requested = @job.where(status: "0") && @job.where(status: "1") %>
		<% @requested.each do |t| %>
		  
		  <div class="thumbnail jobstyle">
		    <%= image_tag("cooking.jpg", class:"thumnail-image")%>
		    <div class="caption">
		      <h5>Booking Number <%= link_to "272#{t.id}", job_path(t.id) %></h5>	
		      <h5><%= t.start_date.strftime("%d %b %Y") %>, <%= t.start_time.strftime("%l.%M %P") %></h5>
		      <h5><%= t.category %></h5>
		      <h5>RM <%= t.price %></h5>
		      <% if t.status == 0 %>
		      	<h5><%= t.status %></h5>
		      	<%= button_to "Edit", "#" %>
		      <% else t.status == 1 %>
		      	<h5><%= t.status %> by <%= link_to "#{t.affiliate.first_name}", affiliate_path(t.affiliate_id) %></h5>
		      <% end %>		
		    </div>
		  </div>
		<% end %>
	</div>
	<div>
		<h3 class="showpage-title">Completed Job</h3>
		<% @requested = @job.where(status: "3")  %>
		<% @requested.each do |t| %>
		  
		  <div class="thumbnail jobstyle">
		    <%= image_tag("cooking.jpg", class:"thumnail-image")%>
		    <div class="caption">
		      <h5><%= t.start_date.strftime("%d %b %Y") %>, <%= t.start_time.strftime("%l.%M %P") %></h5>
		      <h5><%= t.category %></h5>

		      <h5>RM <%= t.price %></h5>
		      <%= button_to "Review", "#" %>
		      <h5><a href="#">Click here for receipt</a></h5>
		    </div>
		  </div>
		
		<% end %>
	</div>
</div>


<%= render partial: "/layouts/footer" %>