<%= render partial: "/layouts/navbar" %>

<div class="container ">
	<div class="row">
		<div class="col-md-4">
			<div><%= image_tag("userprofile.jpg",class:"thumbnail")%></div>
		</div>
		<div class="col-md-8 portfolio">
			<div class="thumnail">
				<div class="showpage-header row">
					<h4 class="col-md-6 text-center">1<%= @job.count %> <br>	Completed job </h4>
					<% if affiliate_signed_in? %>
					<h4 class="col-md-6 text-center">RM2850 <br> Pension Fund (5 Years) </h4>
					<% end  %>
				</div>
				<h1 class="showpage-name"><%= @affiliate.first_name %> <%= @affiliate.last_name %></h1>
				<h4 class="showpage-verify">Verified info</h4>
				<h4><i class="fa fa-check" aria-hidden="true"></i>   <%= @affiliate.email %></h4>
				<h4><i class="fa fa-check" aria-hidden="true"></i>   <%= @affiliate.address %>, <%= @affiliate.postcode %>, <%= @affiliate.city %>, <%= @affiliate.state %>.</h4>
				<h2>About Me!</h2>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
			</div>	
		</div>
	</div>
	<div>
		<h3 class="showpage-title">Completed Training Course</h3>
		<ul class="list-group">
	    <li class="list-group-item">Professional Cleaning Services</li>
	    <li class="list-group-item">Cooking Class - Western food</li>
	    <% if affiliate_signed_in? %>
	    	<li class="list-group-item"><%= button_to "Training Portal", "/training_courses", method: :get %></li>
			<% end  %>
	  </ul>
	</div>
	<div>
		<% if affiliate_signed_in? %>
			<h3 class="showpage-title">Upcoming Job</h3>
			<% @requested = @job.where(status: "1") %>
			<% @requested.each do |t| %>
			  <%= link_to job_path(t.id) do %>
			  <div class="thumbnail jobstyle">
			    <%= image_tag("cooking.jpg", class:"thumnail-image")%>
			    <div class="caption">
			      <h5><%= t.start_date.strftime("%d %b %Y") %>, <%= t.start_time.strftime("%l.%M %P") %></h5>
			      <h5><%= t.category %></h5>
			      <h5>RM <%= t.price %></h5>
			      <h5><%= t.status %> by <%= link_to "t.affiliate.first_name" %></h5>
			    </div>
			  </div>
			  <% end %>
			<% end %>
		<% else %>
			<h3 class="showpage-title">Completed Job</h3>
			<% @requested = @job.where(status: "2") %>
			<% @requested.each do |t| %>
			  <%= link_to job_path(t.id) do %>
			  <div class="thumbnail jobstyle">
			    <%= image_tag("cooking.jpg", class:"thumnail-image")%>
			    <div class="caption">
			      <h5><%= t.start_date.strftime("%d %b %Y") %>, <%= t.start_time.strftime("%l.%M %P") %></h5>
			      <h5><%= t.category %></h5>
			    </div>
			  </div>
			  <% end %>
			<% end %>
		<% end %>

	</div>
	<div>
		<h3 class="showpage-title">Reviews</h3>
		<h5>Reviews from User</h5>
		<div class="review row"></div>
		<% @requested = @job.where(status: "3")  %>
		<% @requested.each do |t| %>
			<div class="col-md-2">
				<%= image_tag("userprofile.jpg",class:"thumbnail-review")%>
				<p style="padding-left: 30px;">Kelvin</p>
			</div>
			<div class="col-md-8">
				<p>Provided a very good service, he is a hard working person.</p>
				<br>
				<p>For <%= t.category %>, <%= t.start_date.strftime("%d %b %Y") %></p>
				<br>
				
				<hr>
			</div>
		</div>
		
		<% end %>
	</div>
</div>


<%= render partial: "/layouts/footer" %>