<%= render partial: "/layouts/navbar" %>

<div class="row">
		<div class="col-md-6">
			<div class="userinfosection">
				<div><%= image_tag(@affiliate.affiliates_avatar,class:"userprofilepicture")%></div>
				<div class="userprofileinfopart">
					<h1><%= @affiliate.first_name.upcase %> <%= @affiliate.last_name.upcase %></h1>
					<h6>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h6>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="usercontactsection">
				<h4 class="usercontactsectionemail"><%= image_tag("002-email.png")%><%= @affiliate.email %></h4>
				<h4><%= image_tag("001-home.png") %><%= @affiliate.address %>, <%= @affiliate.postcode %>, <%= @affiliate.city %>, <%= @affiliate.state %>.</h4>
				<ul class="usercontactsectionul">
					<li><h5><%= @job.completed.count %></br>Completed Job</h5></li>
					<% if affiliate_signed_in? %>
					<li><h5>RM <%= @fee %></br>Profits (87%)</h5></li>
					<li><a class="tostatementlink" href="/statement"><h5>RM <%= @pension %></br>Pension Fund (8%)</h5></li></a>
					<% end %>
				</ul>
			</div>
		</div>
</div>

</br>

<div class="row" id="row2">
	<div class="col-md-3">
		<div class="affiliatecoursesection">
			<h3>Completed Training Course</h3>
			<ul class="affiliatecoursesectionul">
		    	<li>1) Professional Cleaning Services</li>
		    	<li>2) Cooking Class - Western food</li>
		    	<li>3) Certified Plumbing</li>
		    	<li>4) Electronic Gadget Repair</li>
		    	<li>5) Certified Mover</li>
		    	</br>
		    	<% if affiliate_signed_in? %>
		    		<li class="affiliatecoursesectionbuttonli"><%= link_to "Training Portal", "/training_courses", class:"affiliatecoursesectionbutton"%></li>
				<% end  %>
		  	</ul>
	  	</div>
	</div>

	<div class="col-md-9" id="col2">
		<% if affiliate_signed_in? %>
			<div class="affiliateupcomingjobsection">
				<h2>Upcoming Job</h2>
					<% @upcomingjob.each do |t| %>
					  <%= link_to job_path(t.id) do %>
				      <div class="thumbnail jobstyle showalljobthumbnail">
				        <div class="thumbnailhoverclass">
								<% if t.category == "Cleaning" %>
								  <%= image_tag("cleaningservice.jpg", class:"thumnail-image")%>
								<% elsif t.category == "Catering" %>
								  <%= image_tag("catering.jpg", class:"thumnail-image")%>
								<% elsif t.category == "Mover" %>
								  <%= image_tag("mover.jpg", class:"thumnail-image")%>
								<% elsif t.category == "Plumbing" %>
								  <%= image_tag("plumbing.png", class:"thumnail-image")%>
								<% elsif t.category == "Gadget Repair" %>
								  <%= image_tag("gadgetservice.jpg", class:"thumnail-image")%>
								<% end %>
				        <div class="overlay">
				          <div class="overlaytext"><%= t.category %></div>
				        </div>
				        </div>
				        <h5 id="showjobdatetime"><%= t.start_date.strftime("%d %b %Y") %>, <%= t.start_time.strftime("%l.%M %P")%></h5>
				        <div class="caption">
				          <div class="captionPriceCategory">
				            <h5 id="jobthumbnailPrice">RM <%= t.price %></h5>
				          </div>
				        </div>
				      </div>
				      <% end %>
				    <% end %>
				    <div id='paginate'>
    					<div class='container paginatecontainer' id="showalljobpaginatecontainer">
    	  					<%= paginate @upcomingjob,outer_window: 3%>  
    					</div>
  					</div>
			</div>

			<div class="affiliateupcomingjobsection">
				<h2>Completed Job</h2>
					<% @completedjob.each do |t| %>
					  <%= link_to job_path(t.id) do %>
				      <div class="thumbnail jobstyle showalljobthumbnail">
				        <div class="thumbnailhoverclass">
								<% if t.category == "Cleaning" %>
								  <%= image_tag("cleaningservice.jpg", class:"thumnail-image")%>
								<% elsif t.category == "Catering" %>
								  <%= image_tag("catering.jpg", class:"thumnail-image")%>
								<% elsif t.category == "Mover" %>
								  <%= image_tag("mover.jpg", class:"thumnail-image")%>
								<% elsif t.category == "Plumbing" %>
								  <%= image_tag("plumbing.png", class:"thumnail-image")%>
								<% elsif t.category == "Gadget Repair" %>
								  <%= image_tag("gadgetservice.jpg", class:"thumnail-image")%>
								<% end %>
				        <div class="overlay">
				          <div class="overlaytext"><%= t.category %></div>
				        </div>
				        </div>
				        <h5 id="showjobdatetime"><%= t.start_date.strftime("%d %b %Y") %>, <%= t.start_time.strftime("%l.%M %P")%></h5>
				        <div class="caption">
				          <div class="captionPriceCategory">
				            <h5 id="jobthumbnailPrice">RM <%= t.price %></h5>
				          </div>
				        </div>
				      </div>
				      <% end %>
				    <% end %>
				    <div id='paginate'>
    					<div class='container paginatecontainer' id="showalljobpaginatecontainer">
    	  					<%= paginate @completedjob,outer_window: 3%>  
    					</div>
  					</div>
			</div>

		<% else %>
			<div class="affiliateupcomingjobsection">
				<h2>Completed Job</h2>
					<% @completedjob.each do |t| %>
					  <%= link_to job_path(t.id) do %>
				      <div class="thumbnail jobstyle showalljobthumbnail">
				        <div class="thumbnailhoverclass">
				          <%= image_tag("cooking.jpg", class:"thumnail-image")%>
				        <div class="overlay">
				          <div class="overlaytext"><%= t.category %></div>
				        </div>
				        </div>
				        <h5 id="showjobdatetime"><%= t.start_date.strftime("%d %b %Y") %>, <%= t.start_time.strftime("%l.%M %P")%></h5>
				        <div class="caption">
				          <div class="captionPriceCategory">
				            <h5 id="jobthumbnailPrice">RM <%= t.price %></h5>
				          </div>
				        </div>
				      </div>
				      <% end %>
				    <% end %>
				    <div id='paginate'>
    					<div class='container paginatecontainer' id="showalljobpaginatecontainer">
    	  					<%= paginate @completedjob,outer_window: 3%>  
    					</div>
  					</div>
			</div>
		<% end %>
	</div>
</div>

<div class="row reviewsection">
	<div>
		<h3 class="reviewsectionheader">Reviews from User</h3>
	</div>

	<div class="row">
			<div class="col-md-4">
				<% @review.each do |t| %>
					<div class="fixheightforreviewsection">
						<div class="reviewsectionuserlogoposition"><%= image_tag(@affiliate.affiliates_avatar,class:"reviewsectionuserlogo")%></div>
						<div class="reviewsectionword"><h6>Review by <%= t.user.first_name %></h6></div>
					</div>
				<% end %>
			</div>

			<div class="col-md-8">
					<% @review.each do |t| %>
					<div class="fixheightforreviewsection">
						<p class="reviewsectioncomment">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					</div>
					<% end %>
			</div>
	</div>
	
</div>
	


<%= render partial: "/layouts/footer" %>
