<%= render partial: "/layouts/navbar" %>

<style type="text/css">
	.carousel-inner img {
  margin: auto;
}
</style>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag ("picture1.jpg") %>
      <div class="carousel-caption">
      	<h1 class="sectionword">PARTNERSHIP · SECURITY </h1>
      </div>
    </div>
    <div class="item">
      <%= image_tag ("picture2.jpg") %>
      <div class="carousel-caption">
      	<h1 class="sectionheader">TRAINING · FUTURE</h1>
      </div>
    </div>
    <div class="item">
      <%= image_tag ("picture3.jpg") %>
      <div class="carousel-caption">
      	<h1 class="sectionheader">CONTRIBUTE · SOCIETY</h1>
      </div>
    </div>
  </div>
 
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

<div id="guide_container">
	<div>
		<h1 class="sectionheader">A GUIDE TO START</h1>
	</div>
	<div class="button">
		<%= button_to "CLICK FOR MORE", "/", class:"buttonstyle" %>
	</div>
</div>

<div id="service_container">
  <div>
    <h1>SERVICES COVERED BY US</h1>
  </div>
  <div class="serviceCoveredSection">
    <div><%= image_tag("catering.jpg", class:"servicesimage")%><h4>Catering</h4></div>
    <div><%= image_tag("cleaningservice.jpg", class:"servicesimage")%><h4>Cleaning</h4></div>
    <div><%= image_tag("mover.jpg", class:"servicesimage")%><h4>Mover</h4></div>
    <div><%= image_tag("plumbing.png", class:"servicesimage")%><h4>Plumbing</h4></div>
    <div><%= image_tag("gadgetservice", class:"servicesimage")%><h4>Gadget Repair</h4></div>
  </div>
  <div>
    <h4>and more...</h4>
  </div>  
</div>

<div class='container' id="homepagecontainer">
  <h1 id="latestjobheader">AVAILABLE JOB</h1>
  <br>

  <% if signed_in? || affiliate_signed_in? %>
    <% @job.each do |t| %>
      <%= link_to job_path(t.id) do %>
      <div class="thumbnail jobstyle">
        <div class="thumbnailhoverclass">
        <%= image_tag("cooking.jpg", class:"thumnail-image")%>
        <div class="overlay">
          <div class="overlaytext"><%= t.category %></div>
        </div>
        </div>
        <h3 id="jobthumbnailName"><%= t.name %></h3>
        <div class="caption">
          <div class="captionPriceCategory">
            <h5 id="jobthumbnailPrice">RM <%= t.price %></h5>
          </div>
        </div>
      </div>
      <% end %>
    <% end %>
  <% else %>
      <% @job.each do |t| %>
      <div class="thumbnail jobstyle">
        <div class="thumbnailhoverclass">
        <%= image_tag("cooking.jpg", class:"thumnail-image")%>
        <div class="overlay">
          <div class="overlaytext"><%= t.category %></div>
        </div>
        </div>
        <h3 id="jobthumbnailName"><%= t.name %></h3>
        <div class="caption">
          <div class="captionPriceCategory">
            <h5 id="jobthumbnailPrice">RM <%= t.price %></h5>
          </div>
        </div>
      </div>
    <% end %>  
  <% end %>  
  <div id='paginate'>
    <div class='container paginatecontainer'><%= paginate @job ,outer_window: 3%></div>
  </div>
</div>

<div class="joinusbutton">
  <% if !signed_in? && !affiliate_signed_in? %>
      <div>
        <%= button_to "JOIN US", "/", method: :get, class:"joinusbuttonstyle" %>        
      </div>
  <% end %>
  <% if signed_in? %>
      <div>
        <%= button_to "VIEW MORE", "/jobs/show_all_job",method: :get, class:"joinusbuttonstyle" %>
      </div>
      <div>
        <%= button_to "POST A JOB", "/jobs/new",method: :get, class:"joinusbuttonstyle" %>
      </div>
  <% end %>
  <% if affiliate_signed_in? %>
      <div>
        <%= button_to "VIEW MORE", "/jobs/show_all_job",method: :get, class:"joinusbuttonstyle" %>
      </div>
  <% end %>
</div>

<%= render partial: "/layouts/footer" %>

